    .user-info-wrap {
      border-radius: 5px;
      box-shadow: 0 2px 5px 0 rgba(191, 61, 20, 0.33), 0 2px 10px 0 rgba(191, 61, 20, 0.18);
      padding: 30px 0;
    }

    .user-content {
      margin-top: 80px;
    }

    .user-content div {
      margin-bottom: 10px;
    }

    .profile-title {
      margin-top: 40px;
      text-transform: capitalize;
      font-weight: bold
    }

    .profile-title:first-child {
      margin-top: 0px;
    }

    #match-result {
      margin-top: 40px;
    }

    #suggested-users {
      margin-top: 40px;
    }
    .info-summary {
      margin-bottom: 30px;
    }

    .other-users {
      float: left;
      width: 30%;
      padding: 2%;
    }

    .traits {
      float: left;
      border: 1px solid #bf3d14;

      border-radius: 2px;
      padding: 10px;
      margin: 2px;
    }

    .traits:hover {
      box-shadow: 0 2px 5px 0 rgba(191, 61, 20, 0.53), 0 2px 10px 0 rgba(191, 61, 20, 0.28);
    }