div.container {

    border: 1px solid gray;
    padding-left: 50px;
    padding-right: 150px;
    margin-top: 30px;
    margin-left: 96px;
    margin-right: 96px;
    margin-bottom: 110px;
    font-family: Times New Roman;

}
div.container td {
    padding-left: 30px;
}
img {
    width: 250px;
    padding-top: 50px;
    /*padding-left: 50px;*/
}
.row {
    padding-bottom: 75px;
}
.row h3 {
    border-bottom: 4px solid black;
    font-size: 20px;
    font-family: Times New Roman;
}
